[submodule "core/Clash.Meta"]
	path = core/Clash.Meta
	url = https://github.com/MetaCubeX/mihomo.git
	branch = Meta
[submodule "plugins/flutter_distributor"]
	path = plugins/flutter_distributor
	url = https://github.com/leanflutter/flutter_distributor.git
	branch = main
[submodule "plugins/tray_manager"]
	path = plugins/tray_manager
	url = https://github.com/leanflutter/tray_manager.git
	branch = main


